.row1, .row2{
    display: flex;
    justify-content: space-between;
    background-color: white;  
}

.row1{
    margin: 16px;
    margin-top: 0;
}

.row2{
    margin: 16px;
    margin-top: 0;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.05em;
}

button{
    background-color: #979dac;
    margin: 12px;
    margin-left: 0px;
    margin-right: 8px;
}

button:hover{
    background-color: lightgrey;
}

body{
    width: 300px;
    height: auto;
    background-color: #dee2e6;
    margin: 0;
}

.buttons{
    display: flex;
    justify-content: center;
}

#popup{
    transition: opacity 1s ease-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out, display 1s ease-out 1s; /* Adding a delay to display */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}